<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="card-header">
        <!-- <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1> -->
        <h4 class="post-meta">{{ page.title }}</h4>
        <p class="post-summary">Napsal : {% if page.author %}
            <a style="text-decoration: none;" href="{{ site.url}}{{site.baseurl}}/">
                <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="author-profile-img zoom">
            </a>
            <a href="{{ site.url}}{{site.baseurl}}/">
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ page.author }}</span>
                </span>
            </a>
            {% endif %}
            <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: "%d. %m. %Y" }}</time>
            
        </p>
        <span class="disqus-comment-count" data-disqus-identifier="{{ page.url }}"></span>
        <!-- <div class="post-categories">
            {% if post %} {% assign categories = post.categories %} {% else %} {% assign categories = page.categories %} {% endif %}
            Kategorie : {% for category in categories %}
            <a href="{{site.baseurl}}/blog/categories/{{category|slugize}}">{{category}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
        </div> -->
    </div>

    <div class="card-body" itemprop="articleBody">
        <!--<img class="card-img-top" src="{{site.url}}{{site.baseurl}}/assets/img/posts/{{ page.thumbnail }}" alt="{{ post.title }}">-->

		{% if page.head_photo %}
			<a href="{{site.url}}{{site.baseurl}}/assets/blog/{{ page.head_photo }}"  data-fancybox="gallery" >
				<img src="{{site.url}}{{site.baseurl}}/assets/blog/{{ page.head_photo }}" alt="{{ post.title }}" width="100%"  />
			</a>
		{% else %}
			<a href="{{site.url}}{{site.baseurl}}/assets/blog/{{ page.thumbnail }}"  data-fancybox="gallery" >
				<img src="{{site.url}}{{site.baseurl}}/assets/blog/{{ page.thumbnail }}" alt="{{ post.title }}" width="100%"  />
			</a>
		{% endif %}

        <br/> <br/>
        {{ content }}
    </div>

    <div id="disqus_thread"></div>

</article>
