---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Zajímam se o 3D modelování, programování, elektroniku'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">Kuba Andrýsek</h1>
    <h3> Jmenuji se Jakub Andrýsek, ale všichni mi říkají Kubo. Jsem 3D modelář a programátor v Robotárně.</h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-dark btn-lg"><a href="/about">O mě </a></button>
    <button class="btn btn-dark btn-lg"><a href="/blog">Projekty </a></button>
    <button class="btn btn-dark btn-lg"><a href="/contact">Kontakt </a></button>    
  </div>
</div>
