---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: 'Zajímam se o 3D modelování, programování, elektroniku'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4 hide-small">Kuba Andrýsek</h1>
    <h3> Jmenuji se Jakub Andrýsek, ale všichni mi říkají Kubo.</h3>
    <h3> Jsem 3D modelář a programátor v <a href="https://helceletka.cz/robotarna/" target="_blank">Robotárně</a>.</h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-dark btn-lg"><a href="/about">O mě </a></button>
    <button class="btn btn-dark btn-lg"><a href="/projekty">Projekty </a></button>
    <button class="btn btn-dark btn-lg"><a href="/blog">Blog </a></button>
    <button class="btn btn-dark btn-lg"><a href="/contact">Kontakt </a></button>    
  </div>
</div>
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Kdo jsem?</h3>
  <img src="{{site.url}}{{site.baseurl}}/img/about/{{ site.author_logo }}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3></h3>
</div>
